# File .gitignore untuk Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sqlite
*.sqlite-journal